.page {
    display: flex;
    align-items: center;
    position: fixed;
    height: calc(100% - 3.5rem);
    width: 100%;
    margin: 0;
    top: 3.5rem;
    left: 0;
    /*border: 1px solid red;*/
}

.kana-table {
    font-size: 1rem;
    width: fit-content;
    position: fixed;
    top: 75px;
    left: 20px;
    /*border: 1px solid blue;*/
}

.kana-table::before {
    content: "Hover to reveal 🖱️";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: #B0BEC5;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    font-weight: bold;
    z-index: 10;
}

.kana-table:hover::before {
    opacity: 0;
}

.kana-table table {
    table-layout: fixed;
    width: 600px;
    filter: blur(5px);
    transition: filter 0.5s ease-in-out;
}

.kana-table:hover table {
    filter: blur(0);
}

.kana-table th {
    color: #FFFFFF;
    justify-content: center;
    text-align: center;
}

.kana-table td {
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    justify-content: center;
    color: #B0BEC5;
}

.kana-table tbody tr:first-child td {
    border-top: 2px solid #B0BEC5;
}
.kana-table tbody tr td:first-of-type {
    border-left: 2px solid #B0BEC5;
}
.kana-table tbody tr td:last-of-type {
    border-right: 2px solid #B0BEC5;
}
.kana-table tbody tr:last-child td {
    border-bottom: 2px solid #B0BEC5;
}

.first-dakuten-row td, .first-handakuten-row td {
    border-top: solid 2px #B0BEC5;
}

.kana-table td:nth-child(6) {
    border-right: 2px solid #B0BEC5;
}
.kana-table td:nth-child(11) {
    border-right: 2px solid #B0BEC5;
}




.combinations-table {
    font-size: 1rem;
    width: fit-content;
    position: fixed;
    bottom: 75px;
    left: 20px;
    /*border: 1px solid blue;*/
}

.combinations-table::before {
    content: "Hover to reveal 🖱️";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: #B0BEC5;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    font-weight: bold;
    z-index: 10;
}

.combinations-table:hover::before {
    opacity: 0;
}

.combinations-table table {
    table-layout: fixed;
    width: 600px;
    filter: blur(5px);
    transition: filter 0.5s ease-in-out;
}

.combinations-table:hover table {
    filter: blur(0);
}

.combinations-table th {
    color: #FFFFFF;
    justify-content: center;
    text-align: center;
}

.combinations-table td {
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    justify-content: center;
    color: #B0BEC5;
}


.combinations-table tbody tr:first-child td {
    border-top: 2px solid #B0BEC5;
}
.combinations-table tbody tr td:first-of-type {
    border-left: 2px solid #B0BEC5;
}
.combinations-table tbody tr td:last-of-type {
    border-right: 2px solid #B0BEC5;
}
.combinations-table tbody tr:nth-child(11) td {
    border-bottom: 2px solid #B0BEC5;
}

.combinations-table td:nth-child(4) {
    border-right: 2px solid #B0BEC5;
}
.combinations-table td:nth-child(7) {
    border-right: 2px solid #B0BEC5;
}


.cell-with-checkbox input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;

    width: 20px;
    height: 20px;

    background-color: rgba(255, 255, 255, 0);
    border: #B0BEC5 solid 2px;
    border-radius: 3px;
    
    margin: 0;
    cursor: pointer;
    display: grid;
    transform: translateX(6px);
    place-content: center;
}

.cell-with-checkbox input[type="checkbox"]:checked {
    background-color: white;
    border: white solid 2px;
}


.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    aspect-ratio: 9 / 8;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: 200px;
    /*border: 1px solid yellow;*/
}

.no-rows-warning {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5%;
    font-size: 1.2rem;
    font-weight: normal;
    color: #e82a5f;
    transition: opacity 0.2s ease-in-out;
    /*border: 1px solid blue;*/
}

.warning-arrow {
    position: absolute;
    pointer-events: none;
    transform: translateX(-750px) translateY(160px) rotate(16deg);
    scale: 0.5;
    filter: brightness(0) saturate(100%) invert(33%) sepia(64%) saturate(5243%) hue-rotate(327deg) brightness(92%) contrast(97%);
}

.current-character-display {
    display: grid;
    grid-template-columns: 20% auto 20%;
    align-items: center;
    width: 100%;
    height: 10%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto 0 auto;
    font-size: 1.5rem;
    border: 3px solid white;
    /*border-radius: 15px;*/
}

.current-character {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.nav-button {
    background: none;
    color: white;
    display: flex;
    height: 100%;
    align-items: center;
    border: none;
    gap: 10px;
    padding: 0 20px 0 20px;
}

.nav-button:focus-visible {
    outline: none;
}

.button-arrow {
    transition: transform 0.2s ease-out;
}

.previous-button {
    justify-content: flex-start;
}

.previous-button:hover {
    background: linear-gradient(to right, rgba(255, 255, 255, 10%), rgba(255, 255, 255, 0));
}

.previous-button:hover .button-arrow {
    transform: translateX(-3px);
}

.next-button {
    justify-content: flex-end;
}

.next-button:hover {
    background: linear-gradient(to left, rgba(255, 255, 255, 10%), rgba(255, 255, 255, 0));
}

.next-button:hover .button-arrow {
    transform: translateX(3px);
}

.history {
    font-family: 'Noto Sans JP', sans-serif;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 20px auto auto 20px;
    font-size: 1.25rem;
    /*border: 1px solid green;*/
}

.reset-button {
    position: fixed;
    background: transparent;
    border: none;
    transition: transform 0.2s ease-out, scale 0.2s ease-out;
    padding: 0;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes hold-reset-button {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1) rotate(-1440deg);
    }
}

.reset-button svg {
    width: 32px;
    height: 32px;
    color: white;
}

.reset-button:hover {
    transform: scale(1.1) rotate(10deg);
}

.reset-button:active {
    /*animation: hold-reset-button 3s cubic-bezier(0,1,0,1);*/
    transform: scale(1.1) rotate(-25deg);
}
